/* Image style */
.imgThumb { 
    width: 192px;
    height: 192px;
    /*
    border: 2px solid white;
    box-shadow: inset 0px 1px 0px 0px white;
    box-sizing: border-box; */
    border-radius: 16px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 192px;
    padding: 4px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    font-family: arial;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: black;
    background-color: rgba(255, 255, 255, .2);
    font-size: 16px;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
    backdrop-filter: blur(10px);
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    left: 560px;
    color: black;
    font-size: 35px;
    cursor: pointer;
  }